<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Fees')}"></head>

<body>

<div th:replace="~{fragments/navbar :: navbar('fee')}"></div>


<h2>Fee Config Management</h2>

<div class="card mb-4">
    <div class="card-body">

        <input type="hidden" id="feeId">

        <div class="row">

            <div class="col-md-6">
                <label>Merchant ID</label>
                <input id="merchantId" class="form-control">
            </div>
            <div class="col-md-6">
                <label>Merchant Name</label>
                <input id="merchantName" class="form-control">
            </div>

            <div class="col-md-6">
                <label>Fee Type</label>
                <input id="feeType" class="form-control">
            </div>
            <div class="col-md-6">
                <label>Fee Value</label>
                <input id="feeValue" class="form-control">
            </div>

        </div>

        <div class="row mt-3">

            <div class="col-md-4">
                <label>Effective From</label>
                <input type="date" id="effectiveFrom" class="form-control">
            </div>

            <div class="col-md-4">
                <label>Effective To</label>
                <input type="date" id="effectiveTo" class="form-control">
            </div>



        </div>

        <div class="row mt-3">

            <div class="col-md-4">
                <label>Active</label>

                <select id="active" class="form-select">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>

            </div>

        </div>

        <button id="saveBtn" onclick="save()" class="btn btn-primary mt-3">
            Save
        </button>

        <button id="clearBtn" onclick="clearForm()" class="btn btn-secondary mt-3">
            Clear
        </button>

    </div>
</div>

<div class="card">

    <div class="card-body">

        <div class="row mb-3">

            <div class="col-md-4">
                <input id="searchMerchantId"
                       class="form-control"
                       placeholder="Merchant ID">
            </div>

            <div class="col-md-3">
                <select id="searchActive" class="form-select">
                    <option value="">All</option>
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>

            <div class="col-md-2">
                <button id="searchBtn" class="btn btn-primary">
                    Search
                </button>
            </div>

        </div>

        <table class="table table-bordered">

            <thead>

            <tr>
                <th>Merchant</th>
                <th>Fee Type</th>
                <th>Fee</th>
                <th>Effective From</th>
                <th>Effective To</th>
                <th>Active</th>
                <th>Action</th>
            </tr>

            </thead>

            <tbody id="tableBody"></tbody>

        </table>

    </div>

</div>

<script src="/js/api.js"></script>
<script src="/js/fee-config.js"></script>

</body>
</html>